﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:338px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:55px;
  width:362px;
  height:338px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:161px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:361px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:49px;
  width:318px;
  height:361px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:236px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:420px;
  width:833px;
  height:236px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:829px;
  visibility:hidden;
  word-wrap:break-word;
}
